Level13-063/img/*.db
Level13-063/img/eldorado/*.db
Level13-063/img/items/*.db
Level13-063/img/items/followers/*.db
Level13-063/img/open-iconic/*.db
Level13-063/nbproject/private/
Level13-063/nbproject
*.bak